
<div  class="container-fluid bg-footer">
    <div class="container">
    <h4>Localização</h4>
    <img src="/assets/Line.png">
    <div class="row">
      <div class="col-sm-2">
        <h4>São Paulo</h4>
        <p>São Paulo
            Rua do Rócio, 423/1801
            Vila Olímpia - SP
            04552-000
            +55 11  3333 3333</p>
      </div>
      <div class="col-sm-2">
        <h4>Rio de janeiro</h4>
       <p>Rio de Janeiro
        Vol. da Pátria, 301/702
        Botafogo - RJ
        22270-000
        +55 21  3333 3333</p> 
      </div>
      <div  class="col-sm-3 contato-espaco">
        <div class="contato1"> <i  class="fas fa-envelope-square"></i> ENTRE EM CONTATO </div>
        <div class="contato2"> <img src="/assets/mark.png"> FALE COM O NOSSO CONSULTOR ONLINE </div>
      </div>
      <div class="col-sm-3">
          
        <div>
            <div class="grupo">
                Created by 
            <img src="/assets/profit-bt.png">
            </div>
            
            <div class="grupo">
                Powered by
                <img src="/assets/vtex.png">
            </div>
           
            </div>
        
      </div>
    </div>
    </div>
  </div>
  <div class="bg-footer-f"></div>