

.carousel-inner{
    /* background-color: teal; */
    height: 380px;

}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.btn-primary{
    background: #2EC4B6;
    height: 32.42px;
    border:none;
    margin-bottom: 5px;

}
.card{
    margin-top: 5px;
    width: 200px;
    text-align: center;
 

}
.card:hover{
background: #F2F2F2;

}

.parcela{
    color: #7A7A7A;
    font-size: 11px;

}

p {
    text-decoration: line-through;
}
h6{
    color: #2EC4B6;
}
